@import "../../utils/variables.scss";

.carousel-container{
    padding-top: 25px;
    overflow: hidden;

    @include tablet{
        height: 255px;
        white-space: nowrap;
    }
}

.carousel-box {
    height: 415px;
    white-space: nowrap;
    transition: transform 0.3s;
}

.carrousel-box img {
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
}

.carrousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.indicators{
    display: flex;
    justify-content: center;

   & button{
       margin: 5px;
   }
}
