@import "./src/utils/variables.scss";

.house-info-title, .house-info-subtitle , .house-info-host-name {
    color:$color-primary;
    margin-top: 0;
}

.house-info-subtitle , .house-info-host-name{
    font-size: 18px;
    @include tablet {
        font-size: 14px;
    }
}

.house-info-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    @include tablet {
        flex-direction: column;
        justify-content: unset;
    }
}

.house-info-title{
    font-size: 36px;
    @include tablet  {
        font-size: 20px;
    }
}

.host-picture{
    border-radius: 70px ;
    height: 100px;
    @include tablet {
        height: 70px;
    }
}

.house-info-host{

    @include tablet{
        justify-content: space-between;
        display: flex;
        align-content: flex-end;
        flex-direction: row-reverse;
        align-items: center;
    }

}

.house-info-host-box{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width : min-content;
}



ul.tags-container{
    display:flex;
    padding: 0;
    & li{
        all: unset;
        margin-right: 10px;
        padding: 5px 30px;
        border-radius: 15px;
        background-color: $color-primary;
        color:$default-white ;
        @include tablet {
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 11px;
        }
    }
}


.rating-orange{
    filter: brightness(0) saturate(100%) invert(53%) sepia(55%) saturate(4719%) hue-rotate(329deg) brightness(117%) contrast(103%);
    @include mobile{
       height: 20px;
    }
}



