@import "./src/utils/variables.scss";

.banner-about{
    object-fit: cover;
    height: 223px;
    width: 100%;
    border-radius: 25px;
    margin: 70px 0 43px 0;
}

.dropdown-container{
    margin: 0 100px;

    border-radius:5px ;
    padding: 8px 20px;


}

