@import "./src/utils/variables.scss";

.about-img {
    height: 223px;
    & .banner-box, .banner-box img {
        height: 100%;
    }
}

.dropdown-container{
    margin: 0 100px;
    border-radius:5px ;
    padding: 8px 20px;
    @include tablet {
        margin: 0;
        padding: 0;
    }

}

