@import "./src/utils/variables.scss";


.dropdown-body , .dropdown-long {
    width: 100%;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
    @include tablet{
        margin-bottom: 25px;
    }
}
.dropdown-head {
    font-size: 20px;
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    border-radius: 5px;
    cursor:pointer;
    @include tablet{
        padding: 13px 10px;
    }

    & .dropdown-btn {
        border-radius:5px;
        all:unset;
        background:$color-primary ;
        color:$default-white ;

        @include tablet {
            font-size:14px;
        }

    }
}


.is-open {
    background:$light-grey ;
    color:$color-primary ;
    border-radius: 0 0 5px 5px;
    padding: 25px 15px 15px;
    line-height: 28px;

    @include mobile{
    line-height: 20px;
    }

    & .equipement {
        margin: 0px;
        padding: 0px;

    }

}

.dropdown-head .arrow {
    transition: transform 300ms ease-in-out;
}

.dropdown-head .arrow-open {
    transition: transform 300ms ease-in-out;
    transform: rotate(180deg)
}

.arrow{
    @include tablet{
        height: 12px;
    }
}