//Global style


@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"),
    url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

body{
    margin :40px auto 0 auto;
    max-width: 1440px;
    font-family: Montserrat, serif;
}

