@import "./src/utils/variables";

.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$color-primary;
    margin: 0 auto;
    margin-top: 170px ;

    & .error-img{
        max-width: 700px;
        margin-bottom: 70px;

        @include tablet{
            max-width: 198px;
        }
    }



    & .error-msg{
        font-size: 30px;
        margin-bottom: 150px;
    }
    @include mobile{
        text-align: center;
    }

    & .switch-link{
        all:unset;
        text-decoration-line: underline;
        font-size: 18px;
        margin-bottom: 160px;
        cursor:pointer;
    }
}