@import "./src/utils/variables";

.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$color-primary;
    margin: 0 auto;
    margin-top: 170px ;

    @include tablet{
        margin-top: 130px;
    }

    & .error-img{
        max-width: 700px;
        margin-bottom: 70px;

        @include tablet{
            max-width: 350px;
        }

        @include mobile{
            max-width: 198px;
        }
    }



    & .error-msg{
        font-size: 30px;
        margin-bottom: 150px;

        @include tablet{
            font-size: 22px;
            margin-bottom: 90px;
            text-align: center;
        }

        @include mobile{
            font-size: 18px;
        }
    }



    & .switch-link{
        text-decoration-line: underline;
        font-size: 18px;
        margin-bottom: 160px;
        cursor:pointer;
        color:$color-primary;

        @include tablet{
            margin-bottom: 0;
            font-size: 18px;
        }

        @include mobile{
            font-size: 16px;
        }
    }
}