@import "../../utils/variables.scss";


nav {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .nav-buttons{
        display: flex;
        gap: 55px;

        & a {
            color: $color-primary;
            text-decoration: none;
        }

         a:hover{
            text-decoration:underline ;
         }
   }

}