@import "../../utils/variables.scss";


.banner-img {
    margin:70px 0 43px 0;
    position: relative;
    height: 223px;
    @include mobile{
        margin: 28px 0 22px 0;
        height: 111px;
    }

    & .banner-box{
        background: $dark-grey;
        height: 223px;
        border-radius: 25px;
        @include mobile{
            height: 111px;
            border-radius: 10px;
        }
    }

    & img {
        object-fit: cover;
        height: 223px;
        width: 100%;
        opacity: 0.7;
        border-radius: 25px;
        @include mobile{
            height: 111px;
            border-radius: 10px;
        }

    }

    & h1 {
        font-size: 48px;
        color: $default-white;
        position: absolute;
        top: 0;
        margin:85px 0;
        width: 100%;
        text-align: center;
        @include tablet {
            font-size : 24px;
            text-align: inherit;
            margin : 30px 0;
        }
    }
}